.rvmrc
.bundle
config/application.yml
config/database.yml
coverage
db/*.sqlite
db/*.sqlite3
doc/api
doc/app
.DS_Store
.idea
log/*.log
log/*.log.*
log/*.pid
nbproject
.project
public/stylesheets/application.css
public/stylesheets/application_iphone.css
public/uploads/**/*
tmp/*.yml
tmp/restart.txt
tmp/**/*

