.bundle
config/application.yml
config/database.yml
coverage
db/*.sqlite
db/*.sqlite3
doc/api
doc/app
.DS_Store
log/*.log
log/*.log.*
log/*.pid
log/restart.txt
nbproject
.project
public/stylesheets/application.css
public/uploads/**/*
tmp/*.yml
tmp/**/*

