.bundle
config/application.yml
config/database.yml
coverage
db/*.sqlite
db/*.sqlite3
doc/api
doc/app
.DS_Store
log/*.log
log/*.pid
nbproject
.project
public/stylesheets/application.css
public/uploads/**/*
tmp/**/*

