#header
  h1
    a
      :color #000
      :text-decoration none
      &:visited
        :color #000
      &:hover
        :background-color transparent

div.game_bet
  :margin-bottom 1em
  :border 1px dashed #999
  :padding 4px 6px
  :width 500px
  &.new
    :border 1px solid #999
  p
    :margin 0
  input
    :text-align center
  img.spinner
    :float right
  div.fieldWithErrors
    :display inline
  div.info
    p
      :font-size 0.8em
      :color #666

#loading
  :width 120px
  :height 120px
  :position fixed
  :top 50%
  :left 50%
  :background url(../images/spinner.gif) no-repeat center #fff
  :text-align center
  :padding 10px
  :font-size 16px
  :border 1px solid #666
  :margin-left -50px
  :margin-top -50px
  :z-index 2
  :overflow auto

#menu
  ul
    :margin 0
    :padding 0
  li
    :margin 0
    :display inline

#info
  p
    :font-size 0.8em
    :color #666

p.small
  :font-size 0.8em

li.highlight
  :font-weight bold

tr.even
  :background-color #eee

table.nice
  td.left
    :text-align left
  td.right
    :text-align right
  td.center
    :text-align center
  td.small
    :font-size 0.8em

#footer
  p
    :font-size 0.8em

