<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou uma alteração de senha no Bolão da PiTTlândia, o que pode ser feito pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou isso, basta ignorar este email.</p>
<p>Sua senha NÃO será alterada até que você acesse o link acima e escolha uma nova senha.</p>

