# app/config/application.yml
defaults: &defaults
  google_analytics_id:
  email:
    from: "noreply@example.com"
    server: "smtp.example.com"
    domain: "example.com"
    port: 25
    login: "login"
    password: "password"
    host: "localhost:3000"

development:
  <<: *defaults
  email:
    domain: "local"

test:
  <<: *defaults

production:
  <<: *defaults
  google_analytics_id: "UA-1234567-8"
