%h2 Pagamento Efetuado!

%p Seu pagamento foi concluído com sucesso!

%p Uma mensagem com os detalhes desta transação foi enviada para o seu e-mail</b>.

%p Assim que o PagSeguro confirmar o pagamento para nosso sistema, sua aposta aparecerá como "Paga". Esta confirmação pode demorar alguns segundos apenas (caso pagamento tenha sido feito via cartão de crédito) ou até 7 dias (caso pagamento tenha sido feito via boleto bancário).

%p
  %i Você também poderá acessar sua conta PagSeguro (se possuir uma) no endereço #{link_to 'https://pagseguro.uol.com.br/', 'https://pagseguro.uol.com.br/'} para mais informações.

