- title "Aposta Paga"
%h2 Você já pagou sua aposta!

%p Comeu cocô? Está tentando pagar duas vezes a aposta? Na-na-ni-na-não!

%p Pode deixar que o sistema não vai deixar você fazer essa besteira.

%p= link_to 'Continue palpitando, pequeno gafanhoto', my_bet_path

